* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgba(0, 0, 0, 0.1);
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	background: url(https://youtu.be/QXoNoKQE8Tg);
}

.logo {
	margin: 0 30px;
}

.logo h1 {
	font-size: 40px;
	font-weight: 800;
}

.logo span {
	font-weight: 100;
	font-size: 70px;
	margin-left: -10px;
}

.nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 30px;
}

.nav li {
	list-style: none;
	margin: 0 30px;
}

a {
	color: black;
	text-decoration: none;
	padding: 40px 30px;
	transition: all 0.25s ease-in-out;
	background: transparent;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	background: black;
	color: white;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 800px;
	width: 100%;
	margin: 0 auto;
}

.main div {
	padding: 30px 0;
	width: 100%;
	transition: all 0.4s;
}

/* .learn:hover {
	padding: 30px 900px 30px 0;
	background: black;
	color: white;
	width: 100%;
}

.Experiment:hover {
	padding: 30px 0 30px 900px;
	background: black;
	color: white;
}

.Perform:hover {
	padding: 30px 900px 30px 0;
	background: black;
	color: white;
}

.Struggle:hover {
	padding: 30px 0 30px 900px;
	background: black;
	color: white;
}

.Thrive:hover {
	padding: 30px 900px 30px 0;
	background: black;
	color: white;
} */

.expand-1 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.expand-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.expand-1:hover {
	color: white;
	background: black;
	color: white;
}

.expand-2:hover {
	color: white;
	background: black;
	color: white;
}

#para {
	color: white;
	text-align: center;
	margin: 30px 0;
	font-size: 20px;
	padding: 0 50px;
}
