* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgba(0, 0, 0, 0.1);
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
}

.logo {
	margin: 0 30px;
}

.logo h1 {
	font-size: 40px;
	font-weight: 800;
}

.logo span {
	font-weight: 100;
	font-size: 70px;
	margin-left: -10px;
}

.nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 30px;
}

.nav li {
	list-style: none;
	margin: 0 30px;
}

a {
	color: black;
	text-decoration: none;
	padding: 5px 30px;
	transition: all 0.25s ease-in-out;
	background: transparent;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	background: black;
	color: white;
	border-radius: 20px;
}
