* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #ffff;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	background-color: #ffff;
}

/* 
iframe {
	width: 1280px;
	height: 720px;
} */

.logo {
	margin: 0 30px;
	width: 100%;
}

.logo h1 {
	font-size: 40px;
	font-weight: 800;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
	width: 100%;
	color: #ba181b;
}

.logo span {
	font-weight: 100;
	font-size: 70px;
	margin-left: -10px;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}

.nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 30px;
	text-align: center;
}

.nav li {
	list-style: none;
	margin: 0 30px;
}

.header-wrapper a {
	color: black;
	text-decoration: none;
	padding: 37px 30px;
	transition: all 0.25s ease-in-out;
	background: transparent;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}

a:visited {
	color: #ba181b;
	text-decoration: none;
}

.header-wrapper a:hover {
	background: #ba181b;
	color: white;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

video {
	outline: none;
}

.about-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	background-color: #ffff;
	width: 100%;
	padding: 50px 0;
}

.about-wrapper p {
	margin: 10px 0;
	font-size: 20px;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	padding: 0 30px;
}

.about-wrapper h1 {
	font-size: 50px;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
}

.main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	width: 100%;
}

.skill-aq {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.skill-aq p {
	font-size: 12px;
	font-style: italic;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}

.main div {
	padding: 50px 0;
	width: 100%;
	transition: all 0.4s;
}

.step {
	font-weight: 100;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}

/* .learn:hover {
	padding: 30px 900px 30px 0;
	background: black;
	color: white;
	width: 100%;
}

.Experiment:hover {
	padding: 30px 0 30px 900px;
	background: black;
	color: white;
}

.Perform:hover {
	padding: 30px 900px 30px 0;
	background: black;
	color: white;
}

.Struggle:hover {
	padding: 30px 0 30px 900px;
	background: black;
	color: white;
}

.Thrive:hover {
	padding: 30px 900px 30px 0;
	background: black;
	color: white;
} */

.expand-1 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.expand-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.expand-1:hover {
	color: white;
	background-color: #ba181b;
	color: white;
}

.expand-2:hover {
	color: white;
	background-color: #ba181b;
	color: white;
}

#para {
	color: white;
	text-align: center;
	margin: 27px 0;
	font-size: 16px;
	padding: 0 10px;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}

@media (max-width: 930px) {
	.header-wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100px;
	}

	.header-wrapper a {
		padding: 15px 30px;
	}
}

@media (max-width: 728px) {
	.header-wrapper li {
		margin: 0 5px;
	}

	.nav ul {
		margin: 0 10px;
	}
	.about-wrapper p {
		font-size: 16px;
	}
}

@media (max-width: 532px) {
	.header-wrapper li {
		margin: 0;
	}

	.nav ul {
		margin: 0 5px;
	}
	.about-wrapper p {
		font-size: 16px;
	}
}

.copyRight {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.copyRight a {
	margin: 0 4px;
	text-decoration: none;
}
