* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgba(0, 0, 0, 0.1);
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.05);
}

/* 
iframe {
	width: 1280px;
	height: 720px;
} */

.logo {
	margin: 0 30px;
	width: 100%;
}

.logo h1 {
	font-size: 40px;
	font-weight: 800;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
	width: 100%;
}

.logo span {
	font-weight: 100;
	font-size: 70px;
	margin-left: -10px;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}

.nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 30px;
	text-align: center;
}

.nav li {
	list-style: none;
	margin: 0 30px;
}

.header-wrapper a {
	color: black;
	text-decoration: none;
	padding: 37px 30px;
	transition: all 0.25s ease-in-out;
	background: transparent;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}

a:visited {
	color: black;
	text-decoration: none;
}

.header-wrapper a:hover {
	background: black;
	color: white;
}

.main-wrapper {
	margin: 100px 0;
}

table {
	width: 80%;
	text-align: center;
	border-collapse: collapse;
	margin: 0 auto;
}

table,
th,
td {
	border: 3px solid rgba(0, 0, 0, 0.801);
}

.time {
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
}

tr td {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	height: 100px;
}

th {
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
}

@media (max-width: 1100px) {
	table {
		width: 95%;
		font-size: 13px;
	}
}

@media (max-width: 930px) {
	.header-wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 150px;
	}

	table {
		width: 95%;
		font-size: 10px;
	}

	.header-wrapper a {
		padding: 15px 30px;
	}
}

@media (max-width: 728px) {
	.header-wrapper li {
		margin: 0 5px;
	}

	.nav ul {
		margin: 0 10px;
	}
	.about-wrapper p {
		font-size: 16px;
	}
}

@media (max-width: 532px) {
	.header-wrapper li {
		margin: 0;
	}

	.nav ul {
		margin: 0 5px;
	}
	.about-wrapper p {
		font-size: 16px;
	}
}
