* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgba(0, 0, 0, 0.1);
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.05);
}

.logo {
	margin: 0 30px;
	width: 100%;
}

.logo h1 {
	font-size: 40px;
	font-weight: 800;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
	width: 100%;
}

.logo span {
	font-weight: 100;
	font-size: 70px;
	margin-left: -10px;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}

.nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 30px;
	text-align: center;
}

.nav li {
	list-style: none;
	margin: 0 30px;
}

.header-wrapper a {
	color: black;
	text-decoration: none;
	padding: 35px 30px;
	transition: all 0.25s ease-in-out;
	background: transparent;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}

a:visited {
	color: black;
	text-decoration: none;
}

.header-wrapper a:hover {
	background: black;
	color: white;
}

.main-wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 100px 0;
}

.main-wrapper img {
	width: 600px;
	height: 400px;
	border-radius: 10px;
}

.drill {
	display: flex;
	justify-content: center;
	align-items: center;
}

.drill-2 {
	margin: 50px 0;
	background-color: rgba(0, 0, 0, 0.05);
}

.drill-1 div {
	margin: 0 30px;
	background-color: transparent;
}

.info-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0 50px;
}

.info-flex h1 {
	margin: 30px 0;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
}

.info-flex p {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}

@media (max-width: 1345px) {
	.main-wrapper {
		width: 100%;
		margin: 0 auto;
		padding: 100px 0;
	}
	.drill-2 div {
		margin: 0 30px;
		background-color: transparent;
	}
}

@media (max-width: 1068px) {
	.main-wrapper img {
		width: 400px;
		height: 300px;
	}
}

@media (max-width: 930px) {
	.drill div {
		margin: 0 10px;
	}
	.header-wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 150px;
	}

	.header-wrapper a {
		padding: 15px 30px;
	}
}

@media (max-width: 790px) {
	.main-wrapper img {
		width: 400px;
		height: 300px;
	}
}

@media (max-width: 859px) {
	.header-wrapper li {
		margin: 0 5px;
	}

	.nav ul {
		margin: 0 10px;
	}
}

@media (max-width: 690px) {
	.drill {
		flex-direction: column;
	}
	.main-wrapper img {
		margin: 20px 10px;
	}

	.drill-2 {
		flex-direction: column-reverse;
	}
}

@media (max-width: 532px) {
	.header-wrapper li {
		margin: 0;
	}

	.nav ul {
		margin: 0 5px;
	}
	.about-wrapper p {
		font-size: 16px;
	}
}
